[mysqld]
# User that runs the MariaDB process
user			= mysql

# Directory for the database files
datadir			= /var/lib/mysql

# Path for the socket file (communication between processes)
socket			= /run/mysqld/mysqld.sock

# IMPORTANT: Port where MariaDB listens
port			= 3306

# IMPORTANT: Bind to all IP addresses so other containers can reach it
bind-address		= 0.0.0.0

# General Logging (Optional, useful for debug)
log_error		= /var/log/mysql/error.log
